footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgb(0, 89, 205);
    font-size: 20px;
    color: white;
}
.text-footer{
    width: 100%;
    text-align: center;
}
.results-section-text{
    font-size: 25px;
}
.res-dev{
    margin-bottom: 10px;
}
.results{
    font-size: 20px;
}